<section class="section bord-dessine bord-blanc bord-bas">
  <div class="container is-widescreen">
    <div class="columns is-vcentered">
      <div class="column is-narrow">
        <figure class="image">
            <img class="is-rounded" src="{{ page.media[page.header.vignette].url }}">
        </figure>
      </div>
      <div class="column">
        <div>
            {{ content|raw }}
        </div>
    </div>
  </div>
</section>