<section class="section fond-jaune-100 bord-dessine bord-jaune-100 bord-haut bord-bas">
    <div class="container is-widescreen">
        <div class="columns is-variable is-6">
            <div class="column is-narrow">
                <figure class="image est-max-12"><img class="is-rounded est-fusione-multiplie" src="{{ url('theme://images/amanda-jaune-100.png') }}"></figure>
            </div>
            <div class="column">
                <h2 class="block"><img src="{{ url('theme://images/typo_on-prend-RDV.png') }}" alt="On prend rendez-vous ?"></h2>
                <p class="block is-size-4">Pour se présenter, exposer votre besoin, répondre à vos questions...</p>
                <div class="is-flex is-flex-wrap-wrap is-align-items-center">
                    <a class="bouton est-blanc mr-4" href="https://calendly.com/margot-nadot/entretien" title="Sur Calendly">Choisir un créneau dans mon agenda</a><p class="mr-4">ou</p><a class="bouton est-blanc" href="mailto:yo@margotnadot.com">M’écrire un mail</a>
                </div>
            </div>
        </div>
    </div>
</section>